<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<h3>森林的明亮度</h3>
	<h4>你的答案：{{test1}}</h4>
	<p>顯示出你對生活的滿足程度</p>
	<p>（A）森林很亮</p>
	<p>你覺得日子過得不錯</p>
	<p>（B）森林很亮</p>
	<p>你覺得日子過得不錯</p>
	<p>（C）森林很暗</p>
	<p>你覺得日子過得不好</p>

	<h3>杯子的材質</h3>
	<h4>你的答案：{{test2}}</h4>
	<p>象徵財富的渴望,杯子越珍貴你對前就越看重</p>
	<p>（A）皇室陶瓷杯</p>
	<p>你對金錢非常看重,也會想辦法努力賺錢</p>
	<p>（B）簡約玻璃杯</p>
	<p>金錢對你來說是生活不可或缺的一部分</p>
	<p>（C）環保紙杯</p>
	<p>金錢對你來說夠用即可</p>

	<h3>魚的數量</h3>
	<h4>你的答案：{{test3}}隻</h4>
	<p>代表你身邊能說真心話的朋友數</p>		
	
	<h3>河水的深度</h3>
	<h4>你的答案：{{test4}}</h4>
	<p>顯示出你想從另一半身上得到多強烈的性</p>
	<p>（A）深看不見底</p>
	<p>相較於性,你渴望從感情中獲得的愛較多</p>
	<p>（B）模糊但略可見底</p>
	<p>傾向於性愛平衡</p>
	<p>（C）淺可見底</p>
	<p>相較於愛,你渴望從感情中獲得的性較多</p>

	<h3>繞過熊的方式</h3>
	<h4>你的答案：{{test5}}</h4>
	<p>表示你面對困境的處理方式</p>
	<p>（A）逃跑,裝作沒看到</p>
	<p>你會習慣性逃避問題</p>
	<p>（B）從它身邊安然走過</p>
	<p>你很懂得處理問題,面臨困境都能迎刃而解</p>
	<p>（C）與熊搏鬥</p>
	<p>你目前面臨高度壓力,不得不奮力反擊</p>			
</body>
</html>